<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cladogram Generator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="/">Cladogram Generator</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="generate">Generate</a></li>
        </ul>
    </div>
</nav>
  
<div class="container">
  <h1>Cladogram Generator</h1>
  <hr>
  <h4>Cladogram Generation is based on a custom-built Merge Sort with Common Ancestor Backtracing and Derived Characteristics Pruning Algorithm created in Python. Demo Link can be found here(<a src="https://replit.com/join/prkmzusdhq-24sdas">https://replit.com/join/prkmzusdhq-24sdas</a>). The idea of this algorithm started from the Nova Evolution Lab(<a src="https://www.pbs.org/wgbh/nova/labs/lab/evolution/">https://www.pbs.org/wgbh/nova/labs/lab/evolution/</a>). The Github Page can be accessed here(<a src="https://github.com/Saptak625/CladogramGeneratorAlgorithm">https://github.com/Saptak625/CladogramGeneratorAlgorithm</a>).</h4>
  <a href="generate"><button type="button" class="btn btn-primary btn-lg">Go to Generator</button></a>
</div>
</body>
</html>